/config/app.php
/node_modules
/storage/*.key
/storage/*.php
/storage/*.jpg
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/config/database.php
/uploads/
.vscode/launch.json
.rnd
/media/*
/vendor/
/storage/
